.sign-in-box {
    box-sizing: border-box;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    background-color: white;
    color: #2c3e50;

    .user-icon {
        width: 20px;
        height: 20px;
    }

    .username-field {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;

        label {
            font-weight: bold;
        }

        input {
            padding: 5px;
            font-size: 1.2rem
        }
    }

    .password-field {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;

        label {
            font-weight: bold;
        }

        input {
            padding: 5px;
            font-size: 1.2rem
        }
    }

    .remember-field {
        display: flex;

        label {
            margin-left: 0.25rem;
        }
    }

    .sign-in-button {
        display: block;
        width: 100%;
        border: 0px;
        padding: 8px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 1rem;
        border-color: #00bc77;
        background-color: #00bc77;
        color: #fff;
        cursor: pointer;
        text-decoration: underline;
    }

    .error-message {
        color: darkred;
    }
}