.advantages-item {
    flex: 1;
    padding: 2.5rem;

    img {
        width: 100px;
        border: 10px solid #00bc77;
        border-radius: 50%;
        padding: 1rem;
    }

    h1 {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #222;

    }

    p {
        color: #2C3E50;

    }
}
