header {

    .header-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px 5px 20px;

        img {
            max-width: 100%;
            width: 200px;
        }

        a {
            text-decoration: none;
        }

        .sign-in-link {
            color: #2C3E50;
            font-weight: bold;
            margin-right: 0.5rem;
        }

        .sign-in-link-hidden {
            display: none;
        }

        .sign-in-link:hover {
            text-decoration: underline;
        }

        .sign-out-link {
            color: #2C3E50;
            font-weight: bold;
            margin-right: 0.5rem;
        }

        .sign-out-link-hidden {
            display: none;
        }

        .sign-out-link:hover {
            text-decoration: underline;
        }
    }
}