header {

    .header-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px 5px 20px;

        img {
                max-width: 100%;
                width: 200px;
            }

        .navbar {
            display: flex;
            gap: 5px;

            .hidden {
                display: none;
            }


            a {
                display: flex;
                text-decoration: none;
            }

            .user-link {
                color: #2C3E50;
                font-weight: bold;
                margin-right: 0.5rem;
            }

            .user-link:hover {
                text-decoration: underline;
            }

            .user-icon {
                color: #2C3E50;
                margin-right: 3px;
                width: 18px;
                height: 18px;
            }

            .signout-icon {
                text-decoration: #2C3E50;
                margin-right: 3px;
                width: 16px;
                height: 16px;
            }

            .sign-in-link {
                color: #2C3E50;
                font-weight: bold;
                margin-right: 0.5rem;
            }

            .sign-in-link:hover {
                text-decoration: underline;
            }

            .sign-out-link {
                color: #2C3E50;
                font-weight: bold;
                margin-right: 0.5rem;
            }

            .sign-out-link:hover {
                text-decoration: underline;
            }

        }
    }
}