.banner-container {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;

    img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: center 33%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    .advantages-description {
        width: 300px;
        height: 147px;
        position: absolute;
        top: 38%;
        right: 3%;
        transform: translate(0%, -50%);
        background-color: white;
        color: #2C3E50;
        padding: 32px;
        margin: 32px;
        text-align: start;

        .big-text {
            font-size: 1.5rem;
            font-weight: Bold;
            margin: 0;
        }

        .small-text {
            font-size: 1.2rem;
            margin-bottom: 0;
        }
    }
}